@import "../converter";

.overlay {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vw;
  


  .content {

    width: 80%;
    min-height: 106vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .title {
      width: 80%;
      height: 11vw;
      object-fit: contain;
    }
  }
  .closeBtn {
    background-image: url("../assets/images/close-button.png");
    width: 12vw;
    height: 12vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
  }

  .guidePopUp {
  
    .tabs {
      display: flex;
      justify-content: space-between;
      margin: 1vw 4vw 0 4vw;
      .howToPlay {
        background-image: url("../assets/images/left-button.png");
        width: 30vw;
        height: 7vw;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        font-family: "HiJack";
        background-color: transparent;
        border: none;
        font-size: calcView(22);
      }
      .rewardInfo {
        background-image: url("../assets/images/right-button.png");
        width: 30vw;
        height: 7vw;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        font-family: "HiJack";
        background-color: transparent;
        border: none;
        font-size: calcView(22);
      }
      .unactive {
        opacity: 0.5;
      }
    }
    .guideContent {
      // max-height: 62.33vw;
      // border: 1px solid red;
      height: 76vw;
      width: 90%;
      margin: 2vw auto 0;
      overflow-y: auto;
      font-family: "Helvetica";
      font-size: calcView(18);
      background-image: url("../assets/images/guide-reward-info-diplay-bg.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding: 2vw;
      .tab1-content {
        li {
          margin-bottom: 3vw;
        }

        .accTable {
          table,
          tr,
          th,
          td {
            border: 1px solid;
            border-collapse: collapse;
            padding: 1vw;

          }


          .table {
            width: 90%;
            margin: 0 auto;
          }
          td {
            text-align: center;
          }
     
        }
      }

      .tab2-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .yellow-text{
        color: yellow;
      }
    }
  }

  .accPopUp {
    display: flex;
    flex-direction: column;
    // gap: 4vw;
    .search {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 7vw;
      input {
        height: 9vw;
        border-radius: 5vw;
        font-family: "Helvetica";
        width: 68%;
        color: black;
        font-size: 3vw;

        padding: 3vw 0 3vw 2vw;
      }
      .icon {
        width: 12vw;
        height: 12vw;
        background-image: url("../assets/images/search-button.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: transparent;
        border: none;
        position: absolute;
        right: 12vw;
        bottom: -2vw;
    
      }
    }

    // .tabButton {
    //   background-color: transparent;
    //   border: none;
    //   margin: auto;
    //   img {
    //     width: 15vw;
    //   }
    // }

    // .tabButtonOn {
    //   width: 25vw;
    //   height: 11vw;
    //   background-image: url("../assets/images/tab-selected.gif");
    //   background-size: 100%;
    //   background-repeat: no-repeat;
    // }
    // .tabButtonOff {
    //   width: 25vw;
    //   height: 11vw;
    //   background-image: url("../assets/images/tab-unselected.png");
    //   background-size: 100%;
    //   background-repeat: no-repeat;
    // }

    .sendAccBtn{
      width: 25vw;
      height: 11vw;
      background-image: url("../assets/images/tab-selected.gif");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        margin: 0 auto;
        font-family: 'HiJack';
        background-position: center;
        font-size: 3.5vw;
    }

    .eligibility-text {
      font-family: "HiJack";
      color: yellow;
      text-align: center;
      margin-top: 2vw;
      font-size: 3vw;
      width: 66%;
      margin: 2vw auto 0;
      position: relative;
    bottom: 1vw;

    }
    .blackNWhite {
      filter: grayscale(100%);
    }

    .foundUsers {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }

    .radio-container {
      display: flex;
      flex-direction: column;
      height: 33vw;
      // border: 1px solid red;J
      overflow-y: auto;
      // align-items: center;
      // justify-content: center;
      width: 73vw;
      margin: 0 auto;

      .single-radio {
        display: flex;
        align-items: center;
        width: 95%;
        margin: 0 auto;
      }
      .circle {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 1px solid;
        display: inline-block;
        margin-top: 5vw;
      }

      .bgWhite {
        background-color: blue;
      }
      .bgBlack {
        background-color: black;
      }
    }
  }

  .accInfoPopUp {
    display: flex;
    flex-direction: column;
    position: relative;

    .accInfoContent {
      position: absolute;
      top: 17vw;
      width: 79%;
      text-align: center;
      margin: 0 3vw;
      // border: 1px solid red;
      left: 6vw;
    }
  }

  .rewardHistoryPopUp {
    margin-top: 2vw;
    .rewardsTitle {
      font-size: 3vw;
      margin-bottom: 2vw;
      .time {
        position: relative;
        left: 11vw;
      }
      .type {
        position: relative;
        left: 17vw;
      }
      .rewards {
        position: relative;
        right: -28vw;
      }
    }
    .rewardWrapper {
      height: 44vw;
      overflow-y: auto;
      width: 82%;
      margin: 0 auto;
      .historyItem {
        width: 90%;
        height: 13vw;
        margin: 1vw auto 0;
        background-color: #0a2a77;
        border-radius: 12vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Helvetica";
        padding: 0 1vw 0 1vw;
        gap: 4vw;

        .time {
          // border: 1px solid;
          flex: 0 1 30%;
          text-align: center;
          .date {
            font-size: 2.5vw;
          }
          .hours {
            font-size: 2vw;
          }
        }
        .rewardType {
          flex: 0 1 15%;
          text-align: center;
          img {
            width: 11vw;
          }
        }
        .rewards {
          flex: 0 1 50%;
          display: flex;
          // justify-content: center;
          align-items: center;

          img {
            width: 10vw;
            height: 10vw;
            border: 1px solid #1052ba;
            border-radius: 1vw;
          }
          .text {
            font-size: 2vw;
            margin-left: 1vw;
          }
        }
      }
    }

    .noData{
      text-align: center;
    margin-top: 19vw;
    font-family: 'HiJack';
    color: yellow;
    }
  }
  .game {
    position: relative;
    .textTitle {
      text-align: center;
      font-family: "HiJack";
      position: relative;
      top: 3vw;
      font-size: 5vw;
    }
    .game-content {
      font-size: 3.5vw;
      width: 49vw;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 15vw;
      left: 18vw;

      p {
        // text-align: center;
        // margin-right: 3vw;

        text-align: center;
        margin-right: 3vw;
        line-height: 1.6;
        font-size: 2.5vw;
      }
      .gameBeansBag {
        width: 19vw;
      }
      .beansWon {
        color: yellow;
        margin-top: 2vw;
      }
      .no-rewards {
        p {
          color: yellow;
        }
      }
    }
  }

  .successfull-attempts-popup {
    display: flex;
    flex-direction: column;
    position: relative;



    .succesfull-attempt-content {
      position: absolute;
      top: 20vw;
      width: 80%;
      left: 9vw;
      font-size: 4vw;

      .yellow-text {
        color: yellow;
      }
      p{
        text-align: center;
    line-height: 1.6;
    font-size: 2.8vw;
      }
    }
  }
  .milestone{
    position: relative;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    

    .milestone-content{
      font-size: 3vw;
      height: 73vw;
      overflow: auto;
      .milestone-title{
        width: 80%;
        height: 9vw;
        border-radius: 20vw;
        background-color: #0c307a;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3vw;
        span{
          color: #546693;

        }
        .span1{
          margin-left: 3vw;
        }
        .span2{
          margin-right: 7vw;
        }
        
     
      }
     table{
      border: 1px solid ;
      width: 80%;
      border-radius: 6vw;
      margin: 3vw auto 0;
      border-spacing: 0;
    border-collapse: separate;
      .color-yellow{
        color: yellow;
      }
      td {
        border-bottom: 1px solid;
        padding: 1vw;
      }
      td img{
        width: 12vw;
      }
      .milestone-ball{
        width: 6vw;
      }
     }
     table tr:last-child td{
      border-bottom: none;
    }
    
    }
  } 
}
