@import "converter";

.App {
  width: 100%;
  background-image: url(./assets//images/bg.jpg);
  background-size: 100% 100%;
  min-height: 100vw;
  background-repeat: no-repeat;
  // z-index: -1;

  .appHeader {
    background-image: url("./assets//images/basketball-header-bg2.png");
    background-size: 100%;
    width: 100%;
    min-height: calcView(1100);
    background-repeat: no-repeat;
    position: relative;

    .infoAndRewards {
      display: flex;
      justify-content: space-between;
      padding: 0 2vw 0 2vw;
      width: 100%;
      position: absolute;
      top: 103vw;

      .rewardBtn {
        width: 12vw;
        height: 12vw;
        background-image: url("./assets/images/reward-history-button.gif");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 100%;
        background-color: transparent;
        border: none;
      }

      .guideBtn {
        width: 12vw;
        height: 12vw;
        background-image: url("./assets/images/guide-button.gif");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 100%;
        background-color: transparent;
        border: none;
      }
    }
    .gameBtns {
      position: absolute;
      bottom: 21vw;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .throws-left {
        width: 41vw;
        height: 9vw;
        background-image: url("./assets/images/throws-left.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: transparent;
        color: white;
        border: none;
        font-family: "Helvetica";
        font-size: 3vw;
      }

      .chances {
        width: 41vw;
        height: 9vw;
        background-image: url("./assets/images/throws-sent.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: transparent;
        color: white;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Helvetica";
        font-size: 2.5vw;
        padding-bottom: 2vw;
        padding-top: 1vw;
        span {
          margin-top: 1vw;
        }
        .inputField {
          width: 16vw;
          background-color: #4d92d8;
          border-radius: calcView(20);
          border: none;
          height: 5vw;
          margin-left: 1vw;
          font-size: 1.9vw;
          margin-top: 1vw;
          padding-left: 1vw;
        }
      }
    }
    .throw-btn {
      width: calcView(130);
      height: calcView(130);
      background-image: url("./assets//images//throw-button.png");
      border-radius: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: calcView(30);
      left: calcView(310);
      border: none;
      background-color: transparent;
      position: absolute;
    }

    .hand {
      background-image: url("./assets/images/handIcon.gif");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 12vw;
      height: 12vw;
      background-color: transparent;
      border: none;
      position: absolute;
      bottom: 4vw;
      left: 52vw;
    }
    .throw {
      width: 23vw;
      height: 8vw;
      background-image: url("./assets/images/throw.gif");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
      position: absolute;
      bottom: 22vw;
      left: 43vw;
    }

    .jumping-character{
      width: 20vw;
      position: absolute;
      bottom: 31vw;
      left: 39vw;
    }
    .playing-character{
      position: absolute;
      width: 100%;
    }
  }

  .main-tabs {
    display: flex;
    justify-content: space-around;

    .tab-btn-field-goal {
      width: calcView(240);
      height: calcView(120);
      background-image: url("./assets/images/field-selected.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
    }
    .tab-btn-growth-acc {
      width: calcView(240);
      height: calcView(120);
      background-image: url("./assets/images/growth-selected.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
    }
    .tab-btn-gift-leaderbrd {
      width: calcView(240);
      height: calcView(120);
      background-image: url("./assets/images/gifting-selected.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
    }

    // off tabs
    .tab-btn-field-goal-off {
      width: calcView(240);
      height: calcView(120);
      background-image: url("./assets/images/field-unselected.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
    }
    .tab-btn-growth-acc-off {
      width: calcView(240);
      height: calcView(120);
      background-image: url("./assets/images/growth-unselected.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
    }
    .tab-btn-gift-leaderbrd-off {
      width: calcView(240);
      height: calcView(120);
      background-image: url("./assets/images/gifting-unsleceted.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
